#navbar {
  background: #40763C;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#navbar-content{
  display: inline-flex;
  flex-grow: 1;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

#navbar-contact{
  display: flex-row;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
  padding-bottom: 1em;
  text-align: center;
}

#navbar-links-container{
  display: inline-flex;
}

#navbar-phone{
  font-size: 1.8em;
  margin: 0;
}

#navbar-email{
  font-size: .75em;
  margin: 1em 2em .5em 0em;
  padding-right: 1em;
}

.navbar-contact-text{
  color: white;

}

.navbar-links{
  margin: 0em 3em 0em 3em;
  text-decoration: none;
  color: white;
}

.top-header {
/*  display: flex;*/
  justify-content: space-between;
}

.top-header > div {
  margin: 10px 5px;
}

#logo-text {
  font-size: 2.4em;
  font-family: 'Cooper Black';
  margin: 10px;
  width: 80%;
  margin: 0 auto;
  color: white;
  text-align: center;
  text-shadow: 0px 0px .1em black;
}

#logo-text:hover {
  text-shadow: 0px 0px .2em white;
}

#logo{
  text-decoration: none;
  height: 100px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 0em;
  align-items: center;
  color: white;
}
