@font-face {
  font-family: 'Modern Sans';
  src: url('./assets/modernsans-light.otf') format("woff2");
  font-family: 'Cartoonist';
  src: url('./assets/cartoonist_kooky.ttf');
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Modern Sans';
  font-weight: lighter;
  letter-spacing: 2px;
  word-spacing: 2px;
  background: radial-gradient(100vw at 0.94% 59.66%, rgba(68, 80, 47, 0.6912) 0%, rgba(155, 193, 139, 0.96) 100%);
}

#navbar {
  height: 30vh;
  background: #40763C;
  max-height: 300px;
  min-height: 200px;
  border: 3px solid #1A3018;
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#navbar-content {
  display: inline-flex;
  flex-grow: 1;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  max-height: 100px;
  margin-top: 5em;
}

#navbar-contact {
  display: flex-row;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
  padding-bottom: 2.4em;
  text-align: center;
}

#navbar-links-container {
  display: inline-flex;
}

#navbar-phone {
  text-shadow: 0px 0px .5em #1A3018;
  font-size: 1.8em;
  margin: 0;
  padding: 0 0 0 .6472em;
}

#navbar-email {
  text-shadow: 0px 0px .5em #1A3018;
  font-size: 1em;
  margin: 1em 2em 1em 0em;
  padding-right: 1em;
}

.navbar-contact-text {
  color: white;
}

.navbar-links {
  font-size: 1.2em;
  text-shadow: 0px 0px .5em #1A3018;
  margin: 0em 1em 0em 1.5em;
  text-decoration: none;
  color: white;
}

.top-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.top-header > div {
  margin: 10px 5px;
}

#logo-text {
  font-size: 2.4em;
  font-family: 'Cartoonist';
  width: 80%;
  padding: 0;
  margin: 0 auto;
  color: white;
  text-align: center;
  -webkit-text-stroke: .01em #1A3018;
  text-shadow: 0px 0px .5em #1A3018;
}

#logo {
  padding: 4em 1.3em .9em 1em;
  text-decoration: none;
  height: 50px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  color: white;
}

.flex {
  display:flex;
}


/* home component styles ===>*/

#slogan {
  align-self: center;
  margin-top: 5.5em;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.6em;
  text-align: center;
  width: 30em;
  font-weight: lighter;
  text-shadow: 0px 0px 10em black;
}

#home-image {
  width: 100vw;
  height: 70vh;
  min-height: 300px;
  max-height: 500px;
  align-items: center;
  background-image: url('./assets/home-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}


/* about */

#about {
  height: 62vh;
  width: 100vw;
  min-height: 416px;
  max-height: 680px;
  position: relative;
  border: 1px solid #D9CEA7 80%;
  outline: 3px solid #968D67;
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
}

#about-container {
  padding: 1em;
  position: absolute;
  min-width: 800px;
  min-height: 380px;
  height: 55%;
  width: 70%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: linear-gradient(122.72deg, rgba(217, 206, 167, 0.83) 20.7%, rgba(150, 141, 103, 0.86) 65.07%);
  border: .2em solid #40763C;
  box-sizing: border-box;
}


#about-title {
  margin: .4em;
  margin-bottom: 0;
  color: white;
  font-size: 1.6em;
  text-align: center;
  align-self: center;
  justify-content: center;
  text-shadow: 0px 1px 3px black;
}

#about-text {
  color: white;
  font-size: 1.2em;
  margin: 0 1em 2em 0em;
  align-self: center;
  justify-content: center;
  font-weight: lighter;
  line-height: 1.2em;
  text-shadow: 0px 1px 3px black;
  backdrop-filter: blur(20px);
  max-height: 50%
}

#about-content {
  display: inline-flex;
  justify-content: center;
}

#about-image {
  width: 323.4px;
  height: 323.4px;
  max-width: 100%;
  max-height: 100%;
  margin: 0 1.5em 3em 0;
}


/* footer */


#footer {
  width: 100vw;
  background: #40763C;
  height: 22vh;
  max-height: 500px;
  min-height: 140px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  display: inline-flex;
}

#footer-content {
  display: inline-flex;
  flex-grow: 1;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  max-height: 100px;
  margin-top: 1.7em;
  padding: 0 2em 0 2em;
}

#footer-contact {
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-top: 10px;
}

#footer-links-container {
  display: inline-flex;
}

#footer-phone {
  text-shadow: 0px 0px .5em #1A3018;
  font-size: 1.8em;
  margin: 0 0 0 .5em;
}

#footer-email {
  text-shadow: 0px 0px .5em #1A3018;
  font-size: .9em;
  margin: 8px 0 0 1.1em;
}

.footer-contact-text {
  color: white;
}

#copyright-text {
  color: white;
  text-align: center;
  margin-right: 130px;
}

#social-media {
  margin: 0 1em 0 0;
}

#facebook-icon {
  margin: .5em;
  max-height: 50px;
  max-width: 50px;
}

#instagram-icon {
  margin: .5em;
  max-height: 50px;
  max-width: 50px;
}

/* services */

#services-link {
  margin-bottom: 2.4em;
}

#services-header {
  align-self: center;
  margin: auto 0;
  color: white;
  font-size: 2.4em;
  text-align: center;
  width: 100%;
  padding: 1.7em 0 1em 1.6em;
  text-shadow: 0px 0px 1em black;
}

.service {
  height: 20vh;
  width: 100vw;
  min-height: 250px;
  max-height: 680px;
  position: relative;
  border: 1px solid #D9CEA7 80%;
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
  margin-bottom: 1.8em;
}

.service-title {
  margin: .8em;
  margin-bottom: .6em;
  padding-top: .3em;
  color: white;
  font-size: 1.6em;
  text-align: left;;
  align-self: center;
  justify-content: center;
  text-shadow: 0px 1px 3px black;
}

.service-container {
  position: absolute;
  min-width: 800px;
  min-height: 220px;
  height: 35%;
  width: 70%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: linear-gradient(286.63deg, rgba(217, 206, 167, 0.83) 6.63%, rgba(150, 141, 103, 0.86) 88.58%);
  border: .2em solid #40763C;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}


.service-text {
  color: white;
  font-size: 1.5em;
  margin: 0 2em 2em 3.5em;
  align-self: center;
  justify-content: center;
  font-weight: lighter;
  line-height: 1.2em;
  text-shadow: 0px 1px 3px black;
  backdrop-filter: blur(20px);
  max-height: 50%;
}

.service-content {
  display: inline-flex;
  align-self: center;
  justify-content: space-between;
}

.service-image {
  width: 165px;
  height: 165px;
  max-width: 100%;
  max-height: 100%;
  margin: 1.4em 1em 1em 3em;
  border: .3em solid #D9CEA7;
}

/*contact*/

#contact-header {
  align-self: center;
  margin: auto 0;
  color: white;
  font-size: 2.4em;
  text-align: center;
  width: 100%;
  padding: 1.7em 0 1em .3em;
  text-shadow: 0px 0px 1em black;
}

#contact-container {
  height: 100vh;
  width: 100vw;
  min-height: 600px;
  position: relative;
  border: 1px solid #D9CEA7 80%;
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
  margin: 0 0 2.2em 0;
}

#contact-content {
  padding: 1em;
  padding-top: 2em;
  position: absolute;
  min-width: 800px;
  min-height: 380px;
  height: 550px;
  width: 70%;
  left: 50%;
  top: 280px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: linear-gradient(258.19deg, rgba(217, 206, 167, 0.83) 14.35%, rgba(150, 141, 103, 0.86) 65.07%);
  border: .2em solid #40763C;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
}

#contact-location {
  height: 21.3em;
  width: 51%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#contact-form {
  margin-top: .3em;
  margin-left: 1.1em;
}

.contact-input {
  width: 110%;
  margin: .5em .2em .9em 0;
  border: 3px solid #D9CEA7;
}

#contact-message {
  height: 42%;
  resize: none;
}

.contact-label {
  color: white;
  text-shadow: 0px 0px 1em black;
}

#service-map-image {
  width : 350px;
  height: 350px;
  border: 3px solid #D9CEA7;
}

.contact-address-text {
  margin: .3em;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 1em black;
  font-size: .9em;
}

#contact-phone {
  font-size: 1.1em;
  padding-bottom: .6em;
}

#contact-submit {
  margin-top: 1em;
  width: 114.6%;
  color: white;
  background-color: #40763C;
  border-radius: 2px;
  font-size: .85em;
}
