body {
  margin: 0;
  font-size: 16px;
  font-family: 'Modern Sans';
  font-weight: lighter;
  letter-spacing: 2px;
  word-spacing: 2px;
  background: rgb(236, 236, 236);
}

#navbar {
  background: #40763C;
  max-height: 200px;
  min-height: 180px;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#navbar-content{
  display: inline-flex;
  flex-grow: 1;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  max-height: 100px;
}

#navbar-contact{
  display: flex-row;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
  padding-bottom: 1em;
  text-align: center;
}

#navbar-links-container{
  display: inline-flex;
}

#navbar-phone{
  font-size: 1.8em;
  margin: 0;
}

#navbar-email{
  font-size: .75em;
  margin: 1em 2em .5em 0em;
  padding-right: 1em;
}

.navbar-contact-text{
  color: white;

}

.navbar-links{
  position: static;
  margin: 0em 3em 0em 3em;
  text-decoration: none;
  color: white;
}

.top-header {
/*  display: flex;*/
  justify-content: space-between;
}

.top-header > div {
  margin: 10px 5px;
}

#logo-text {
  font-size: 2.4em;
  font-family: 'Cartoonist';
  margin: 10px;
  width: 80%;
  margin: 0 auto;
  color: white;
  text-align: center;
  text-shadow: 0px 0px .1em black;
}

#logo-text:hover {
  text-shadow: 0px 0px .2em white;
}

#logo{
  text-decoration: none;
  height: 100px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 0em;
  align-items: center;
  color: white;
}

.flex{
  display:flex;
}


/* home component styles ===>*/

#slogan {
  position: absolute;
  width: 100vw;
  height: 17vh;
  max-height: 130px;
  min-height: 100px;
  background: #8DB87E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#slogan-text {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.9em;
  text-align: center;
  width: 30em;
  text-shadow: 0px 0px .1em #40763C;
}

